In [4]:
import pandas as pd

# Student details
students = pd.DataFrame({
    "student_id": [101, 102, 103, 104, 105],
    "name": ["Adhira", "Dhanya", "Saravana", "Manokaran", "Keerthana"],
    "dept": ["AI&DS", "AI&DS", "CS", "CS", "IT"],
    "year": [3, 3, 2, 2, 3]
})

# Marks dataset
marks = pd.DataFrame({
    "student_id": [101, 102, 103, 104, 105],
    "marks": [85, 78, 92, 66, 74]
})

# Display DataFrames
print("Students DataFrame:\n", students)
print("\nMarks DataFrame:\n", marks)

Students DataFrame:
    student_id       name   dept  year
0         101     Adhira  AI&DS     3
1         102     Dhanya  AI&DS     3
2         103   Saravana     CS     2
3         104  Manokaran     CS     2
4         105  Keerthana     IT     3

Marks DataFrame:
    student_id  marks
0         101     85
1         102     78
2         103     92
3         104     66
4         105     74

In [5]:
df = pd.merge(students,marks,on ="student_id",how = "inner")
print(df)

   student_id       name   dept  year  marks
0         101     Adhira  AI&DS     3     85
1         102     Dhanya  AI&DS     3     78
2         103   Saravana     CS     2     92
3         104  Manokaran     CS     2     66
4         105  Keerthana     IT     3     74

In [3]:
df["Result"]= df["marks"].apply(lambda x:"Pass" if x >= 50 else "Fail")
print(df)

   student_id       name   dept  year  marks Result
0         101     Adhira  AI&DS     3     85   Pass
1         102     Dhanya  AI&DS     3     78   Pass
2         103   Saravana     CS     2     92   Pass
3         104  Manokaran     CS     2     66   Pass
4         105  Keerthana     IT     3     74   Pass

In [6]:
avg_marks = df.groupby("dept")["marks"].mean()
print(avg_marks)

dept
AI&DS    81.5
CS       79.0
IT       74.0
Name: marks, dtype: float64

In [7]:
agg_marks = df.groupby("dept")["marks"].agg(["sum","min","max"])
print(agg_marks)

       sum  min  max
dept
AI&DS  163   78   85
CS     158   66   92
IT      74   74   74

In [7]:
top_students = df[df["marks"] > 75]
print(top_students)

   student_id      name   dept  year  marks Result
0         101    Adhira  AI&DS     3     85   Pass
1         102    Dhanya  AI&DS     3     78   Pass
2         103  Saravana     CS     2     92   Pass

In [8]:
sort_df = df.sort_values(by = "marks",ascending = False)
print(sort_df)
df1=df.to_csv("day5_final_students.csv", index=False)

   student_id       name   dept  year  marks
2         103   Saravana     CS     2     92
0         101     Adhira  AI&DS     3     85
1         102     Dhanya  AI&DS     3     78
4         105  Keerthana     IT     3     74
3         104  Manokaran     CS     2     66

In [9]:
df1=df.to_csv("day5_final_students.csv", index=False)