In [1]:
import pandas as pd
import numpy as np

#Creating a dataframe
data={
    "Name":["A","B","C","D","E"],
    "Dept": ["AI&DS","AI&DS","AI&DS","AI&DS","AI&DS"],
    "StudyHours":[5,6,4,6,7],
    "SleepHours":[7,6,8,5,7]}
df = pd.DataFrame(data)
print(df)

  Name   Dept  StudyHours  SleepHours
0    A  AI&DS           5           7
1    B  AI&DS           6           6
2    C  AI&DS           4           8
3    D  AI&DS           6           5
4    E  AI&DS           7           7

In [2]:
print(df["Name"])

0    A
1    B
2    C
3    D
4    E
Name: Name, dtype: object

In [6]:
print(df["StudyHours"]>5)

0    False
1     True
2    False
3     True
4     True
Name: StudyHours, dtype: bool

In [7]:
df.head(3)

  Name   Dept  StudyHours  SleepHours
0    A  AI&DS           5           7
1    B  AI&DS           6           6
2    C  AI&DS           4           8

In [10]:
print(df["StudyHours"].mean())

5.6

In [11]:
print(df["SleepHours"].max())

8

In [12]:
print(df["StudyHours"].sum())

28

In [13]:
#Modifying
#Adding Total Hours

df["TotalHours"]=df["StudyHours"]+df["SleepHours"]
df.loc[df["Name"]=="B","Dept"]="DS"
df

  Name   Dept  StudyHours  SleepHours  TotalHours
0    A  AI&DS           5           7          12
1    B     DS           6           6          12
2    C  AI&DS           4           8          12
3    D  AI&DS           6           5          11
4    E  AI&DS           7           7          14

In [14]:
df.to_csv("day3_students.csv", index=False)